{% extends 'base.html' %}

{% block content%}
        <a style="text-decoration: none; color: white" href="/sms"><h2 style="width: 900px; margin-bottom: 20px;">surreal + mysterious + soft</h2></a>
        <a style="text-decoration: none; color: white" href="/mlep"><h2 style="width: 900px; margin-bottom: 20px">melodic + lush + eclectic + passionate</h2></a>
        <a style="text-decoration: none; color: white" href="/utstms"><h2 style="width: 900px; margin-bottom: 20px">uncommon time sig + technical + melodic + soothing
        </h2></a>
        <a style="text-decoration: none; color: white" href="/mela"><h2 style="width: 900px; margin-bottom: 20px">midwest emo + love + autumn</h2></a>
{% endblock %}
