<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,100&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body style="display: grid; grid-template-columns: auto auto auto auto auto auto auto auto; grid-template-rows: auto auto auto auto">
    <div style="height: 100vh; background: black; grid-column: 1; width: 20vw">
        <div style="color: white; padding: 40px 40px 10px 40px;">
            <h1 style="font-size: 35px;">tune &#9734; in</h1>
        </div>
        <div style="color: white; padding: 40px 40px 40px 40px">
            <a style="font-size: 25px">&#9733;  home</a>
        </div>
        <div style="color: white; padding: 0px 40px 10px 40px; width: 20vw">
            <a style="font-size: 25px">&#9839; brookfield corp</a>
        </div>
        <div style="color: white; padding: 0px 40px 10px 40px">
            <a style="font-size: 25px">&#9839; sundial</a>
        </div>
        <div style="color: white; padding: 0px 40px 10px 40px; width: 20vw">
            <a style="font-size: 25px">&#9839; san slackadore</a>
        </div>
    </div>
</body>
</html>