<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <!-- <form method="post" action="/login">
            {% csrf_token %}
            <input name="username">
            <input name="password">
            <button type="submit">
                Login
            </button>
        </form> -->
        <a href="https://accounts.spotify.com/authorize?client_id=f6280cc0becd438d9e71512e4752a690&response_type=code&redirect_uri=http://127.0.0.1:8000/&scope=streaming%20user-read-email%20user-read-private%20user-library-read%20user-library-modify%20user-read-playback-state%20user-modify-playback-state">
            <button>

            </button>
        </a>
    </div>
</body>
</html>